
.whole_LS_page{
          justify-content: center;
          background-image: url('https://qph.cf2.quoracdn.net/main-qimg-b5faebde65208b4e09af0a85b3893ddd-lq');
          /* background-image: url(./../../images/backGround.webp); */
          background-size: cover;
          height: 100vh;
          color: rgb(115, 111, 111);
          font-size: larger;
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;              
}
h1{
         text-align: center;
         color: rgb(142, 10, 10);
        font-size: 50px;
}
.img{
    width: 200px;
    height: 60px;
}

.login_signup_container{
       border-radius: 10px;
       padding: 20px;
         width: 70%;
         height: 70%;
         background-color: rgb(252, 251, 252);
         margin-top: 110px;
         margin-bottom: 200px;
         box-shadow: 10px 10px 10px rgb(59, 16, 22);      
}
.google_signup{
  background-color: rgb(75, 75, 253);
  color: white;
}
.facebook_signup{
    color: white;
background-color: rgb(75, 75, 253);
}

.email_signup{
    color: white;
background-color: rgb(75, 75, 253);
}
.login_button{
    color: white;
    background-color: rgb(17, 98, 17);
}
.flex_row{
        display: flex;
        flex-direction: row;       
}
.login_signup{
    padding: 20px;
}
.signup{
     padding: 10px;
          flex: 60%;     
}
.signup button{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                 
     margin-top: 10px;
     margin-bottom: 10px;
   width: 100%;
   font-size: 20px;
   padding: 8px;
   border-radius: 10px;
   border: none;            
}
label{
     display: block;          
}
.login{
    padding: 10px;
    width: 100%;
    flex: 40%; 
              
}
.login input{
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;           
}
.login h3{
               padding-bottom: 10px;
        border-bottom: 2px solid gray;       
}
.loginbtn button{
      padding: 5px;
      font-size: 25px;
      border: none;
      border-radius: 3px;
      background-color: rgb(66, 66, 255);
      font-size: 20px;
}
.space_bitween{
      justify-content: space-between;          
}
.devider{
      width: 1px;
      background-color: grey;
      height: 200px;         
}
@media only screen and (max-width: 1200px) {
    .login_signup_container{
        width: 90%;
    }
    .signup button{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                 
        margin-top: 10px;
        margin-bottom: 10px;
      width: 100%;
      font-size: 17px;
      padding: 6px;
      border-radius: 10px;
      border: none;            
   }
    .login_signup{
        padding: 2px;
    }

}
@media only screen and (max-width: 800px) {
    .login_signup_container{
        width: 100%;
    }
    .login_signup{
        padding: 2px;
    }

}
@media only screen and (max-width: 600px) {
    .login_signup_container{
        width: 100%;
    }
    .login_signup{
        padding: 2px;
    }
    .signup button{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                 
        margin-top: 10px;
        margin-bottom: 10px;
      width: 100%;
      font-size: 12px;
      padding: 3px;
      border-radius: 10px;
      border: none;            
   }
    
}
@media only screen and (max-width: 500px) {
    .login_signup_container{
        width: 100%;
    }
    .login_signup{
        padding: 2px;
    }
    .signup button{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                 
        margin-top: 10px;
        margin-bottom: 10px;
      width: 100%;
      font-size: 12px;
      padding: 3px;
      border-radius: 10px;
      border: none;            
   }
    
} 
  